header {
    background-image: url(img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
}

body, html {
    height: 100%;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#e-delivery-banner {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px  ;
    padding: 20px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

@media(in-width: 992px) {
    #e-delivery-banner {
        left: 0;
        transform: translate(0, -80%);
        width: 50%;
    }
}

.edelivery-bannerWapper {
    position: relative;
    height: 100%;
}
#paineis-sobre {
	margin-top: 20px;
}

.depoimento-titulo {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;    
}

.grupo-selecao,
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: top
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}

footer {
    padding: 20px;
    background: #333;
    color: #FFF;
    margin-top: 10px;
}

footer address:last-child {
    margin-bottom: 0;
}